In [68]:
import nltk as nlp
import numpy as np
import regex as re
import pandas as pd
import sklearn
import string

#### LOADING IMDB DATASET

In [69]:
dataframe = pd.read_csv(r'..\\IMDB Dataset.csv')

In [70]:
dataframe.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [71]:
dataframe.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [72]:
np.shape(dataframe)

(50000, 2)

#### CHECK FOR NULLS AND DUPLICATES

In [73]:
dataframe.isnull().sum()

review       0
sentiment    0
dtype: int64

In [74]:
dataframe.duplicated().sum()

418

In [75]:
dataframe = dataframe.drop_duplicates(subset='review', keep='first')

In [76]:
np.shape(dataframe)

(49582, 2)

In [77]:
dataframe.duplicated().sum()

0

In [78]:
dataframe.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

#### REMOVING NON-WORD CHARACTERS FROM THE DATASET

In [79]:
def preprocess(text, pattern):
    if pattern=='[\.]+':
        text = re.sub(pattern, '. ', text)
    else:
        text = re.sub(pattern, '', text)
    #print(text, '\n')
    return text

In [82]:
dataframe['review'] = np.vectorize(preprocess)(dataframe['review'], '<[^>]*>') #remove markup

In [83]:
dataframe.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [84]:
dataframe['review'] = np.vectorize(preprocess)(dataframe['review'], '[\.0-9]+')

In [85]:
dataframe.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production The filming tech...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [86]:
dataframe['review'] = np.vectorize(preprocess)(dataframe['review'], '[^\w\s\']*')

In [87]:
dataframe.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production The filming tech...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's Love in the Time of Money is a...  positive